# Direct Dependencies
colorama
matplotlib
mongoengine
pandas
requests-html

# Secondary Dependencies
appdirs
beautifulsoup4
bs4
certifi
chardet
cssselect
cycler
fake-useragent
idna
kiwisolver
lxml
numpy
parse
pyee
pymongo
pyparsing
pyppeteer
pyquery
python-dateutil
pytz
requests
six
soupsieve
tqdm
urllib3
w3lib
websockets