-r requirements.txt

# Direct Dependencies
autopep8
pylint
pytest
pytest-mock

# Secondary Dependencies
astroid
atomicwrites
attrs
colorama
isort
lazy-object-proxy
mccabe
more
packaging
pluggy
py
pycodestyle
six
wcwidth
wrapt